.u-center-text {
  text-align: center;
}

.u-align-text-right {
  text-align: right;
}

.u-margin-bottom-sm {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-md {
  margin-bottom: 4rem;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-lg {
  margin-bottom: 8rem;

  @include respond(tab-port) {
    margin-bottom: 4rem !important;
  }
}

.u-margin-top-lg {
  margin-top: 8rem;
}

.u-margin-top-xl {
  margin-top: 10rem;
}

.u-margin-auto {
  margin: 0 auto;
}
